.first-picture-one {
    background-image:url("https://i.postimg.cc/KYPYdbcS/pizza-1.jpg");
    float:left; 
    width:50%;
    
    
}

.second-picture-one{
    background-image:url("https://i.postimg.cc/6qJxw2MM/pizza-2.jpg");
    float:left;
    width:50%;
    
}

.third-picture-one{
    background:pink;
}

.first-sectione-one{
    
    
    position:relative;
    width: 100%;
}